<!DOCTYPE html>
<html lang="en">
  <head>
    <%-include("../partials/bootstrap.ejs") %>
    <style>
      .editBooks {
        font-family: "Playfair Display", serif;
        font-weight: 550px;
        color: white;
      }
      input[type="text"] {
        width: 400px;
      }
      input[type="number"] {
        width: 80px;
      }
      .update {
        font-size: 1.2em;
      }
    </style>
  </head>
  <body>
    <br /><br />
    <h1 class="text-center">Book App</h1>
    <h2>Editing Book Details</h2>
    <div class="text-center editBooks">
      <form action="/books/<%= book.id %>?_method=PUT" method="POST">
        Title: <input type="text" name="title" value="<%= book.title %>" />
        <br /><br />
        Author: <input type="text" name="author" value="<%= book.author %>" />
        <br /><br />
        Genre: <input type="text" name="genre" value="<%= book.genre %>" />
        <br /><br />
        Pages: <input type="number" name="pages" value="<%= book.pages %>" />
        <br /><br />
        Recommended: <input type="checkbox" name="recommended"
        <%if(book.recommended === true ){%>checked<%} %> />
        <br /><br /><br />
        <input class="update" type="submit" value="Update Book" />
      </form>
    </div>
  </body>
</html>
