<!DOCTYPE html>
<html lang="en">
  <head>
   <%-include("../partials/bootstrap.ejs")   %> 
 <style>
  ul{
    list-style-type :none
  }
  .anchor{
    color: white;
    font-family: "Playfair Display", serif;
    font-size: 1.5em;
  }
  .eD{
    font-family: "Playfair Display", serif;
    font-weight: 600;
  }
 </style>
  </head>
  <body><br><br>
    <header id="image-background">
      <div class="logo"></div>
    </header>
    <h1 class="text-center ">Book App</h1>
    <h2 class="text-center ">An app to keep track of all your books!</h2>
    <br><br>
    <ul >
      <% if(currentUser){%>
        
          <% for(let i=0;i<books.length;i++) {%>
            <div class="text-center">
            <li >
             <a class="anchor" href="/books/<%=books[i].id %>"> <%= books[i].title %></a><br> 
             <a href="/books/<%=books[i].id %>/edit"><button class="eD">EDIT</button></a>
             <form action="/books/<%=books[i].id %>?_method=DELETE" method="POST" style="display: inline;">
              <input class="eD" type="submit" value="DELETE"></form>
            </li><br/>
          </div>
            <%}%> 
        <br><br>
        <div class="text-center">
        <a class="anchor" href="/books/new">Add more books to your list!</a>
      <form action="/sessions?_method=DELETE" method="POST">
        <input class="eD" type="submit" value="LOGOUT" />
      </form>
      </div>
      <%} else{%>
        <br><br><br>
        <div class=" button text-center">
        <a href="/sessions/new"><button class="btn btn-light" type="button">LOGIN</button></a> 
        <a href="/user/new"><button class="btn btn-light"  type="button">SIGN UP</button></a>
    </div>
      <%}%>
    
  
  </body>
</html>
