<!DOCTYPE html>
<html lang="en">
  <head>
    <%-include("../partials/bootstrap.ejs") %>
    <style>
      h3 {
        text-align: center;
        font-family: "Playfair Display", serif;
        color: white;
        font-size: 2em;
      }
      p {
        font-family: "Playfair Display", serif;
        color: white;
      }
      .anchor {
        color: white;
        font-family: "Playfair Display", serif;
        font-size: 1.5em;
      }
    </style>
  </head>
  <body class="text-center">
    <br /><br />
    <h1 class="text-center">Book App</h1>
    <h2>Book Details</h12>
    <br /><br />
    <h3><%= book.title %></h3>
    <p>
      Author: <%= book.author %><br />
      Genre: <%= book.genre %> <br />
      Pages: <%= book.pages %> <br />
      Recommended: <% if(book.recommended){%>Yes<%}else{%>No<%} %>
    </p>
    <br /><br />
    <a class="anchor text-center" href="/books">Back to Book Collections</a>
  </body>
</html>
